OPENROUTER_API_KEY={add_Key}
GOOGLE_API_KEY={add_Key}
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY={add_LasngSmith_key}
LANGSMITH_PROJECT="my-langchain"
OPENAI_API_KEY=<your-openai-api-key>
TAVILY_API_KEY=<your-tavily-key>
INDEX_NAME=https://medium-blogs-embeddings-index-emdwt4a.svc.aped-4627-b74a.pinecone.io
PINECONE_API_KEY={pinecone_api_key}